#cookie_note {
  display: none;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 20px;
  max-width: 315px;
  width: 100%;
  background-color: #fff;
  color: #111;
  font-family: 'Onest-400', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 11px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 11px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 11px 5px rgba(34, 60, 80, 0.2);

  p {
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
    padding-bottom: 20px;
  }

  .cookie_accept {
    color: #fff;
    display: inline;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: #111;
    cursor: pointer;
    max-width: 90px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
    margin: 0;
white-space: nowrap;
    &:hover {
      -webkit-box-shadow: 0px 0px 11px 5px rgba(171, 171, 171, 0.3);
      -moz-box-shadow: 0px 0px 11px 5px rgba(171, 171, 171, 0.3);
      box-shadow: 0px 0px 11px 5px rgba(171, 171, 171, 0.3);
      transition: 0.3s;
    }
  }

  .cookie_accept {
    width: 20%;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (min-width: 576px) {
  #cookie_note.show {
    display: block;
  }
}

@media (max-width: 575px) {
  #cookie_note.show {
    //display: none;
    //text-align: left;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    .cookie_accept {
      line-height: 20px;

    }
  }
}

